<div class="row">
  <div class="col-12  col-md-7 col-lg-8 col-xl-9">
    <h3 class="main-text-color">Ideas
    <br>
    <small class="text-muted">The early begginings of something great.</small>
    </h3>
  </div>
</div>
<br>
<div class="row">
  <% @ideas.order(:cached_votes_up => :DESC).each do |i| %>
  <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
    <div class="circle"></div>
    <div class="idea-card">
      <div class="card card-idea-index mt-3">
        <div class="row">
          <div class="col-12 col-sm-9 col-md-10 col-lg-11 col-xl-11">
            <h5 class="card-title idea-title"><%= i.title %></h5>
            <%= link_to upvote_idea_path(i), method: :put, class: "btn btn-default btn-sm upvote-controls float-left" do %>
              <i class="fas fa-chevron-up upvote-arrow"></i>
              <%= i.get_upvotes.size %>
            <% end %>
            <small class="float-left text-muted" style="margin-top:7px;"><%= time_ago_in_words(i.created_at) %> ago |
            <% if current_user.present? && current_user.admin? %>
            <%= link_to "delete", idea_path(i), method: :delete, class: "add-idea-link", data: { confirm: 'Idea will be deleted permanently. Are you sure?' } %>
            <% end %>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
