<div class="row">
  <div class="col-12  col-md-7 col-lg-8 col-xl-9">
    <h3 class="main-text-color">Ideas
    <br>
    <small class="text-muted">The early begginings of something great.</small>
    </h3>
  </div>
</div>
<br>
<div class="row">
  <% @ideas.order("created_at DESC").each do |i| %>
  <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
    <div class="circle"></div>
    <div class="idea-card">
      <div class="card card-idea-index mt-3">
        <div class="row">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
            <%= link_to upvote_idea_path(i), method: :put, class: "btn btn-default btn-sm upvote-controls" do %>
              <i class="fas fa-chevron-up upvote-arrow"></i>
              <br>
              <%= i.get_upvotes.size %>
            <% end %>
          </div>
          <div class="col-9 col-sm-8 col-md-9 col-lg-10 col-xl-10">
            <h5 class="card-title"><%= i.title %></h5>
            <small class="float-left text-muted" style="margin-top:7px;"><%= time_ago_in_words(i.created_at) %> ago</small>
          </div>
            <% if current_user.present? && current_user.admin? %>
            <div class="col-2 col-sm-3 col-md-2 col-lg-1 col-xl-1">
              <div class="dropdown dropleft">
                <button class="btn update-dropdown text-right idea-admin-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to "Delete update", idea_path(i), method: :delete, class: "dropdown-item", data: { confirm: 'Update and ALL DATA in it will be deleted permanently. Are you sure?' }  %>
                </div>
              </div>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
