<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123975074-1"></script>
    <title>Planetome Meeting Topics</title>
  </head>
  <body>
    <div class="row">
      <% if user_signed_in? %>
      <div class="col-12  col-md-7 col-lg-8 col-xl-9">
        <h1 class="red-text-color-bold"><%=  image_tag('planetome2.0_logo.png', style: 'height:40px;width:auto;')%> topics</h1>
        <h3><small class="text-muted">The begginings of every great conversation.</small></h3>
      </div>
        <div class="col-12 col-md-5 col-lg-4 col-xl-3">
          <%= link_to "Create a topic", new_topic_path, class: "btn btn-danger btn-block btn-post-job" %>
        </div>
      <% else %>
        <div class="col-12">
          <h1 class="red-text-color-bold"><%=  image_tag('planetome2.0_logo.png', style: 'height:40px;width:auto;')%> topics</h1>
          <h3><small class="text-muted">The begginings of every great conversation.</small></h3>
        </div>
      <% end %>
    </div>
    <br>
    <div class="row">
      <div class="card-columns">
        <% @topics.order(:created_at => :DESC).each do |i| %>
        <div class="col-12">
          <div class="card card-topic mt-3">
            <div class="card-body">
              <!-- <div class="row">
                <div class="col-12"> -->
                  <h5 class="main-text-color  mb-3">
                    <%= link_to i.title, topic_path(i), class: "main-text-color", target: :_blank %>
                  </h5>
                  <p class="feed-link text-muted mb-4"><%= i.description %></p>
                  <!-- <hr class="mb-4"> -->
                  <% if i.user.present? %>
                    <h6 class="main-text-color" style="margin-bottom:0px;"><span style="margin-right:3px;">Created by</span>
                      <%= image_tag i.user.avatar.url(:medium), class: "profilePhotoIndex" if i.user.avatar? %>
                      <%= link_to i.user.first_name, user_path(i.user), class: "user-link-index" %>
                    </h6>
                  <% end %>
                <!-- </div>
              </div> -->
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
