<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="main-text-color"><%= current_user.first_name %>, Meet <%= @topic.user.first_name %>!</h1>
      <h4><small class="text-muted">From <%= @topic.user.city.name %></small></h4>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12">
      <%= link_to user_path(@topic.user), class: "card-user-link"  do %>
      <div class="card card-user-topic mt-3">
        <%= image_tag @topic.user.background, class: "card-user-topic-bg-img card-img-top" if @topic.user.background? %>
        <!-- <div class="card-img-overlay">
          <div class="photo-topic-position"> -->
            <%= image_tag @topic.user.avatar.url(:medium), class: "profilePhotoTopicShow  " if @topic.user.avatar? %>
          <!-- </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8">
          <div class="card card-meeting-setup mt-3">
            <div class="card-body">
              <h5 class="card-text card-text-main main-text-color"><%= truncate(@topic.user.about, length: 100 )%></h5>
              <% if @topic.user.city.name != nil %>
                <h6 class="card-text card-text-main main-text-color">Live in <%= @topic.user.city.name %></h6>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <br>
      <br>
      <h2 class="main-text-color"><%= @topic.user.first_name %> is open to meet and to talk about:</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <div class="card card-topic mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <h4 class="main-text-color  mb-3">
                <%= @topic.title %>
              </h4>
              <h5 class="feed-link  mb-2"><small class="text-muted"><%= @topic.description %></small></h5>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <h2 class="main-text-color mb-3">Setup a meeting  </h2>
      <div class="card card-meeting-setup">
        <div class="card-body">
      <%= form_for @meeting, :url => meetings_path(@meeting), :html => {:method => :post} do |f| %>
      <%= f.hidden_field :main_topic_id, :value => @topic.id %>

      <div class="form-group ">
        <h4 class="main-text-color mb-3 ">1. Pick the places
        <small>or <%= link_to "discover all available places", places_path, class: "red-text-color", target: :_blank %></small></h4>
        <div class="row">
          <%= f.collection_check_boxes :place_ids, Place.all, :id, :name do |cb| %>
          <div class="col-12 ">
            <ul class="ul-categories">
             <strong><%= cb.label(class: "form-check-label category-check ") {cb.check_box(class: "form-check-input ") + cb.text}  %></strong>
            </ul>
          </div>
          <% end %>
        </div>
       </div>
       <br>
       <div class="form-group ">
         <h4 class="main-text-color mb-3 ">2. Choose your preffered meeting time</h4>
         <%= f.select :meeting_time, options_for_select([[ "8:00 - 11:00", 0], ["11:00 - 15:00", 1], ["15:00 - 19:00", 2], ["19:00 - 21:00", 3]]), class: "form-control company-pick", autofocus: false %>
       </div>
       <br>
        <div class="form-group ">
          <h4 class="main-text-color mb-3">3. Tell <%= @topic.user.first_name %> why you are interested in this topic</h4>
          <%= f.text_area :meeting_comment, class: "form-control",rows: 2, placeholder: "I love it!" %>
        </div>
        <div class="form-group mb-2 ">
          <%= f.submit "Send meeting invitation!", class: "btn btn-lg btn-danger btn-post-job good-font mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
  <br>
    <br>







<!--
    <div class="row">
      <div class="col-12">
        <h4 class="main-text-color">1. Pick the places</h4>

        <div class="row">
          <% @places.each do |place| %>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <%= link_to place_path(place), class: "card-community-link" do %>
              <div class="card bg-dark text-white card-field-main  mt-3">
                <%= image_tag place.main_image, class: "card-commutity-img-planetome " if place.main_image? %>
              </div>
              <div class="row">
                <div class="col">
                  <h6 class="mt-2 main-text-color"><strong><%= place.name %></strong></h6>
                  <h6 class=" main-text-color text-muted card-office-address-text"><small><%= place.full_address %></small></h6>
                  <br>
                  <strong>Put the map here</strong>
                </div>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>

        <br>

        <h4 class="main-text-color">2. Choose your preffered time</h4>
        <br>
        <%= link_to "8:00 - 11:00","hhdh", role: :button, class: "btn btn-lg btn-danger btn-post-job good-font mr-3 mb-2" %>
        <%= link_to "11:00 - 15:00","hhdh", role: :button, class: "btn btn-lg btn-danger btn-post-job good-font mr-3 mb-2" %>
        <%= link_to "15:00 - 19:00","hhdh", role: :button, class: "btn btn-lg btn-danger btn-post-job good-font mr-3 mb-2" %>
        <%= link_to "19:00 - 21:00","hhdh", role: :button, class: "btn btn-lg btn-danger btn-post-job good-font mb-2" %>

        <br>
          <br>

        <h4 class="main-text-color mb-3">3. Tell <%= @topic.user.first_name %> why you are interested in this topic </h4>

        <div class="input-group">

          <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>

        <br>
        <br>
        <%= link_to "Send meeting invitation!","hhdh", role: :button, class: "btn btn-lg btn-danger btn-post-job good-font mb-2" %>

      </div>
    </div> -->





  <% if @user.topics.count > 1 %>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8">
        <br>
        <h4 class="main-text-color text-muted">Also there are other topics you can discuss with <%= @topic.user.first_name %> on the meeting </h4>
      </div>
    </div>
    <div class="row">
      <% @user.topics.all_except(@topic).order(:created_at => :DESC).each do |i| %>
      <div class="col-12 col-sm-12 col-md-8">
        <div class="card mt-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4 class="main-text-color text-muted  mb-3">
                  <%= link_to i.title, topic_path(i), class: "main-text-color text-muted", target: :_blank %>
                </h4>
                <h5 class="feed-link  mb-2"><small class="text-muted"><%= i.description %></small></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
