<%= render 'shared/errors', obj: @job %>
  <div class="row">
    <div class="col">
      <%= form_for(@job, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <% if current_user && current_user.admin? %>
      <h6 class="text-muted ml-1 ">Admin's controls</h6>
      <div class="card card-login">
        <div class="card-body ">
          <div class="form-group ml-2 mr-2">
            <h4><strong><%= f.label :communities, class: "control-label" %></strong></h4>
            <div class="row">
            <%= f.collection_check_boxes :community_ids, Community.all, :id, :name do |cb| %>
              <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                <ul class="ul-categories">
                  <%= cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input") + cb.text}  %>
                </ul>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <br>
      <% end %>

        <div class="card card-login">
          <div class="card-body pl-3">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                <br>
                <h6 class="text-muted">Step 1</h6>
                <br>
                 <div class="form-group ml-2 mr-2">
                   <h4><strong><%= f.label :company, class: "control-label " %></strong> <small>That changing the world.</small></h4>
                   <div class="row">
                     <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                       <h4><%= f.select :employer_id, Employer.all.collect {|p| [ p.company_name, p.id ] }, { :include_blank => 'Select a Company'}, class: "form-control company-pick", autofocus: true %> <br></h4>
                     </div>
                     <div class="col-12 col-md-2 col-lg-1 col-xl-1">
                       <h6 class="text-center align-middle", style="margin-top:10px;padding-bottom:10px;">or</h6>
                     </div>
                     <div class="col-12 col-md-5 col-lg-6 col-xl-6">
                        <%= link_to "Add your company", new_employer_path, class: "btn btn-outline-danger btn-block" %>
                     </div>
                   </div>
                 </div>
                <h4 class="ml-2 mr-2"><small class="form-text text-muted">Before going to Step 2, please, select your company or <%= link_to "add your company", new_employer_path, class: "normal-link-light-grey " %>. It will take 24 seconds.</small></h4>
                <hr>
                <h6 class="text-muted">Step 2 </h6>
                <br>
                <div class="form-group ml-2 mr-2">
                  <h4><strong><%= f.label :position, class: "control-label" %></strong></h4>
                  <%= f.text_field :position, class: "form-control", placeholder: "Mechanical Engineer - Pressure Testing Systems", autofocus: false %>
                </div>
                <br>
                <hr>
                <h6 class="text-muted">Step 3</h6>
                <br>
                <div class="form-group ml-2 mr-2">
                  <h4><strong><%= f.label :inspire_with_your_job_impact, class: "control-label" %></strong> <small>Described in <strong>160</strong>  characters or less.</small></h4>
                  <%= f.text_area :impact, rows: 2, class: "form-control", placeholder: "Build rockets that will put people to Mars.", autofocus: false, id: "body-field" %>
                  <small class="form-text text-muted" id="body-count">160 characters maximum.</small>
                </div>

                <%= link_to "Fill a full form (optional)", "#collapseExample", role: :button, class: "btn btn-danger btn-block ml-2 mr-2", data: { parent: '#collapseExample', toggle: :collapse }, aria: { controls: :collapseExample, expanded: false } %>

                <div class="collapse" id="collapseExample">
                  <br>
                  <div class="form-group ml-2 mr-2">
                    <h6><strong><%= f.label :job_description, class: "control-label" %></strong></h6>
                    <%= f.text_area :job_description, rows: 3, class: "form-control", autofocus: false %>
                  </div>
                  <div class="form-group ml-2 mr-2">
                    <h6><strong><%= f.label :responsibilities, class: "control-label" %></strong></h6>
                    <%= f.text_area :responsibilities, rows: 3, class: "form-control", autofocus: false %>

                  </div>
                  <div class="form-group ml-2 mr-2">
                    <h6><strong><%= f.label :requirements, class: "control-label" %></strong></h6>
                    <%= f.text_area :requirements, rows: 3, class: "form-control", autofocus: false %>
                  </div>

                  <div class="form-group ml-2 mr-2">
                    <h6><strong><%= f.label :is_there_any_special_requirements_?, class: "control-label" %></strong>
                      <br><%= f.check_box :is_special_requirements, class: "mr-2" %> <small class=" text-muted">Check if yes.</small></h6>

                    <%= f.text_field :special_requirements, class: "form-control", placeholder: "You can specify what's it. Exapmple: ITAR", autofocus: false %>
                  </div>

                  <div class="form-group ml-2 mr-2">
                    <h6><strong><%= f.label :salary, class: "control-label" %></strong></h6>
                    <%= f.text_area :salary, rows: 1, class: "form-control", placeholder: "$85K/year or $70/h", autofocus: false %>
                  </div>



                </div>


                <br>
                <hr>
                <h6 class="text-muted">Step 4</h6>
                <br>
                <div class="form-group ml-2 mr-2">
                  <h4><strong><%= f.label :location, class: "control-label" %></strong> <small>Of your beautiful office.</small></h4>
                  <%= f.text_field :location, class: "form-control", placeholder: "San Francisco, CA, US if the office is requred", autofocus: false, id: "body-field" %>
                  <h6 class="mt-3"><strong><%= f.label :This_job_can_be_remote!, class: "control-label mr-2" %><%= f.check_box :is_remote, class: "mr-2" %></strong><small class=" text-muted">Check if yes.</small></h6>
                  <small class="form-text text-muted">Your job listing will contain "Remote" word before position.</small>
                </div>
                <br>
                <hr>
                <h6 class="text-muted">Step 5</h6>
                <br>

                <div class="form-group ml-2 mr-2">
                  <h4><strong><%= f.label :link_to_the_job, class: "control-label" %></strong> <small>Your connection with an awesome applicant.</small></h4>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">https://</span>
                    </div>
                    <%= f.text_field :link, class: "form-control", placeholder: "www.makeimpact.com/jobs/awesome-job", autofocus: false %>
                  </div>
                </div>
                <br>
                <hr>
                <h6 class="text-muted">Step 6</h6>
                <br>
                <div class="form-group ml-2 mr-2">
                  <h4><strong><%= f.label :email_to_contact, class: "control-label" %></strong> <small>Only for us, zero spam, no sharing.</small></h4>
                  <%= f.text_field :email_to_contact, class: "form-control", placeholder: "name@company.com", autofocus: false %>
                  <small class="form-text text-muted">Private. It will be used to identify you and allow you to make changes.</small>
                </div>
                <br>
                <hr>
                <h6 class="text-muted">Step 7</h6>
                <br>

                <div class="form-group ml-2 mr-2">
                  <h4><strong><%= f.label :categories, class: "control-label" %></strong> <small>Choose every applicable.</small></h4>
                  <div class="row">
                    <%= f.collection_check_boxes :category_ids, Category.all, :id, :title do |cb| %>
                    <div class="col-sm-12 ">
                      <ul class="ul-categories">
                        <%= cb.label(class: "form-check-label category-check") {cb.check_box(class: "form-check-input") + cb.text}  %>
                      </ul>
                    </div>
                    <% end %>
                  </div>
                </div>
                <br>
              </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
              <hr>
              <h6 class="text-muted">Step 8</h6>
              <br>
              <div class="card card-special-requirements ml-2 mr-2 ">
                <div class="card-body">
                  <i class="fas fa-lock"></i> Secure payment guaranteed by Stripe over HTTPS
                  <br>
                  <i class="fas fa-credit-card"></i> Card is only charged when you press "Post a Job" button
                  <br>
                  <p class="text-muted" style="margin-top:5px;">If you're using a phone, put it into landscape position for better form expirience.</p>
                  <div class="form-control form-control-stripe">
                    <!-- <label for="card-element">
                    </label> -->
                    <div id="card-element">
                    </div>
                    <div id="card-errors" role="alert"></div>
                  </div>
                </div>
              </div>
              <br>
              <div class="ml-2 mr-2">
                <%= f.submit "Post a Job - $19", id: "submit-btn", class: 'btn btn-lg btn-danger btn-block btn-post ' %>
              </div>
              <br>
              <br>
            </div>
          </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
