<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123975074-1"></script>
    <title>Space jobs</title>
  </head>
  <body>
    <div class="row">
      <div class="col-12 col-md-9 ">
        <h1 class="main-text-color good-font">Space jobs
        <br>
        <small class="text-muted good-font">All opportunities</small>
      </h1>
      </div>
      <div class="col-12 col-md-3">
        <%= link_to 'Back', :back, class: "btn btn-outline-danger btn-block"  %>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-job-post">
              <div class="card-body">
                <%= link_to new_job_path, data: { turbolinks: false }, class: "card-community-link"  do %>
                <!-- <s class="s-red">$179</s> -->
                  <h5 class="card-title"><strong class="good-font">Post a Job! - <small></small> $39. Limited time. It's only take 30 seconds.</strong> </h5>
                  <p class="card-text">Reach most interested people in top communities around the web.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>


    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="input-group mb-3">
              <%= form_tag jobs_path, method: :get, class: "input-group mb-3" do %>
                <%= text_field_tag(
                    :search,
                    params[:search],
                    placeholder: "Search by position",
                    class: "form-control"
                    ) %>
              <div class="input-group-append ">
                <%= submit_tag "Search!", :name => nil, class: "btn btn-danger btn-block search-button" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <% @jobs.order("created_at DESC").each do |job| %>
    	  <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card card-job-listing-main">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-10">
                  <h5 class="card-title">
                  <% if job.is_remote == true %>
                  <small>Remote </small>
                  <% end %>
                  <strong><%= link_to job.position, job_path(job), class: "normal-link-red" %></strong>
                  <small> at <%= link_to job.employer.company_name, employer_path(job.employer), class: "normal-link-light-grey"%>
                  <% if job.is_remote == false && job.location != "" %>
                  in <%= job.location %>
                  <% end %>
                </small></h5>
                <h6 class="card-title", style="margin-top:10px;"><strong><%= job.impact %></strong></h6>
                </div>
                <div class="col-12 col-md-2 col-lg-3 col-xl-2">
                  <div class="">
                    <%= link_to "https://#{job.link}" do  %>
                      <h5 class=" category-title float-right btn-apply">Apply</h5>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <h6><small class="float-right text-muted job-listing-time mr-2", style="margin-top:5px;">
            <% if current_user && current_user.admin? %>
          <%= link_to "edit", edit_job_path(job) %> |
          <% end %><%= time_ago_in_words(job.created_at) %> ago</small></h6>
        <br>
      </div>
      <% end %>
    </div>
  </body>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-123975074-1');
  </script>
</html>
