<!-- <br>
<br>
<div class="row">
  <div class="col-12 col-md-7 col-lg-8 col-xl-9">
      <h3 class="main-text-color">Projects
      <br>
      <small class="text-muted">See what people are up to.</small>
      </h3>
  </div>
  <% if @project_fields.count > 0 %>
      <div class="col-12 col-md-5 col-lg-4 col-xl-3">
        <br>
        <%= link_to "Start new project", new_project_path, class: "btn btn-block btn-outline-danger"  %>
      </div>
  <% end %>
</div>
<br>
<div class="row">
  <% if @project_fields.count == 0 %>
    <%= render 'notifications/noprojects'%>
  <% end %>
</div>
<div class="row">
  <% @project_fields.order("created_at DESC").each do |project| %>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <%= link_to project_path(project), class: "card-user-link" do %>
    <div class="card card-community-index ">
      <div class="row">
        <% if project.image? %>
        <div class="col-3 col-sm-2 col-md-3 col-lg-2 col-xl-2">
          <%= image_tag project.image.url, class: "card-project-img card-img-left" if project.image? %>
        </div>
        <div class="col-9 col-sm-10 col-md-9 col-lg-10 col-xl-10">
          <div class="card-body card-body-project">
            <h5 class="card-title"><%= project.name %>
              <% if project.updates.count == 1 %>
                <small class="text-muted"> | <%= project.updates.count %> update</small> </h5>
                <% else %>
                <small class="text-muted"> | <%= project.updates.count %> updates</small> </h5>
              <% end %>
            <p class="card-text"><%= project.description %></p>
          </div>
        </div>
        <% else %>
        <div class="col-12">
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <p class="card-text"><%= project.description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="row float-right mr-0  ">
      <% if project.user.present? %>
      <%= link_to user_path(project.user), class: "user-title-project" do %>
        <h5 class="user-title-project text-muted">
        <%= time_ago_in_words(project.created_at) %> ago
        <%= image_tag project.user.avatar.url(:thumb), class: "profilePhotoProjectCard" if project.user.avatar? %>
        <%= project.user.name %>
        </h5>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div> -->
