
<div class="row">
  <div class="col">
    <h3 class="main-text-color">Roman's Page
    <br>
    <small class="text-muted">The field where you want to start.</small>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-12 order-xs-first col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <div class=" mr-3 mt-3">
      <%= render 'users/userinfosidebar' %>
    </div>
  </div>

  <div class="col-12 order-xs-last col-sm-6 col-md-8 col-lg-9 col-xl-9">
    <div class="row">
      <% @user.communities.each do |community| %>
      <div class="col-6 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <%= link_to community_path(community), class: "card-user-link" do %>
        <div class="card card-community-index mr-3 mt-3">
          <%= image_tag community.background, class: "card-commutity-img card-img-top" if community.background? %>
          <div class="card-body">
            <h5 class="card-title"><%= community.name %></h5>
            <p class="card-text"><%= community.description %></p>
            <!-- <p class="card-text-location"><i class="fas fa-globe"></i> Worldwide</p> -->
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <!-- <div class="row">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card card-pages-user mt-2">
          <div class="card-body">
            <div class="row">
              <div class="col-11 col-md-11 col-lg-11 col-xl-11">
                <h5 class="card-title main-text-color"> Projects</h5>
                <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">4 in work | 1 planning | 2 reserach</h6>
              </div>
              <div class="dots-pages-user text-right">
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card card-pages-user mt-2">
          <div class="card-body">
            <h5 class="card-title main-text-color">Communities</h5>
            <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">34 following | 1 created</h6>
          </div>
        </div>
      </div> -->
  </div>


</div>
