<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123975074-1"></script>
    <title>Planetome | <%= @user.name %></title>
  </head>
  <body>
<div class="row">
  <div class="col">
    <% if current_user != @user %>
      <h3 class="main-text-color custom-font"><%= current_user.first_name %>, meet <%= @user.first_name %></h3>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-12 order-last col-sm-12 order-sm-first col-md-4 col-lg-3 col-xl-3">
    <%= render 'users/userinfosidebar' %>
  </div>
  <div class="col-12 order-first col-sm-12 order-sm-last col-md-8 col-lg-9 col-xl-9">
    <%# if @user.city == nil %>
      <%# render 'users/new_user' %>
    <%# end %>

    <!-- <div class="">

    <% if @user.topics.count == 0 %>
    <div class="row">
      <div class="col">
        <h3 class="main-text-color">Created topics
        <br>
        <small class="text-muted">No created topics yet.</small>
        </h3>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col">
        <h3 class="main-text-color">Created topics</h3>
        <h4><small class="text-muted">
          <% if current_user == @user %>
            You
          <% else %>
            <%= @user.first_name %>
          <% end %>
           created <%= @user.topics.count %> topics, last one was cretaed <%= time_ago_in_words(@user.topics.last.created_at) %> ago</small></h4>
      </div>
    </div>
    <div class="row">
      <% @user.topics.order(:created_at => :DESC).each do |i| %>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
        <div class="card  mt-3">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4 class="main-text-color text-center mb-3">
                  <%= link_to i.title, topic_path(i), class: "main-text-color", target: :_blank %>
                </h4>
                <h5 class="feed-link text-center mb-2"><small class="text-muted"><%= i.description %></small></h5>
                <hr class="mb-4">

                <% if current_user == @user %>
                <div class="text-center">
                  <%= link_to "Edit", edit_topic_path(i), class: "btn text-muted" %>
                </div>

                <% else %>
                  <% if i.user.present? %>
                    <h6 class="main-text-color text-center">Created by
                      <%= image_tag i.user.avatar.url(:medium), class: "profilePhotoIndex" if i.user.avatar? %>
                      <%= link_to i.user.first_name, user_path(i.user), class: "user-link-index" %>
                    </h6>
                  <% end %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <% end %>
    </div>
    <% end %>

  </div> -->
























      <% if @user.projects.count == 0 %>
        <%= render 'users/new_user' %>
      <% else %>
      <div class="row">
        <div class="col">
          <h3 class="main-text-color custom-font">Projects</h3>
        </div>
      </div>
      <% end %>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <% @user_projects.order("updated_at").each do |project| %>
            <%= link_to project_path(project), class: "card-user-link" do %>
              <div class="card card-community-index mt-3 p-1">
                <div class="d-inline-flex">
                  <%= image_tag project.image.url, class: "fixed-image " if project.image? %>
                  <div class="d-flex align-items-center" >
                    <div class="ml-2 mt-2 mb-2 mr-1">
                      <% if project.is_public? %>
                      <span class="badge badge-dark">Private</span>
                      <% end %>
                      <h5 class="card-title mb-0 mb-1"><%= project.name %></h5>
                      <p class="card-text mb-0"><%= project.description %></p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
      <br>



       <!-- <div class="row">
          <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card card-pages-user mt-2">
            <div class="card-body">
              <div class="row">
                <div class="col-11 col-md-11 col-lg-11 col-xl-11">
                  <h5 class="card-title main-text-color"> Projects</h5>
                  <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">4 in work | 1 planning | 2 reserach</h6>
                </div>
                <div class="dots-pages-user text-right">
                  <i class="fas fa-ellipsis-v"></i>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card card-pages-user mt-2">
            <div class="card-body">
              <h5 class="card-title main-text-color">Communities</h5>
              <h6 class="card-subtitle mb-2 text-muted card-subtitle-pages-user">34 following | 1 created</h6>
            </div>
          </div>
        </div>
      </div> -->
</div>

</body>
</html>
