<%= render 'shared/errors', obj: resource %>
<div class="row">
  <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
    <div class="card card-login devise-bs">
      <div class="card-body">
        <h4><%= t('.forgot_your_password', default: 'Forgot your password?') %></h4>
        <hr>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>
          <%= f.submit t('.send_me_reset_password_instructions', default: 'Send me reset password instructions'), class: 'btn btn-outline-danger' %>
        <% end %>
      </div>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
</div>
