<%= render 'shared/errors', obj: @project %>
  <div class="row">
    <div class="col">
      <div class="card card-login">
        <div class="card-body">
          <%= form_for(@project, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-9 col-xl-9">
                <div class="form-group">
                  <%= f.label :name, class: "control-label" %>
                  <%= f.text_field :name, class: "form-control", placeholder: "Mars colonization", autofocus: true %>
                </div>
                <div class="form-group">
                  <%= f.label :Description, class: "control-label" %>
                  <%= f.text_area :description, rows: 3, class: "form-control", placeholder: "I think that Mars can be a great vacation spot but let's colonize it first.", autofocus: false, id: "body-field" %>
                  <small class="form-text text-muted" id="body-count">0</small>
                </div>
                <div class="form-group">
                  <%= f.label :Field, class: "control-label" %>
                  <%= f.collection_check_boxes :field_ids, Field.all, :id, :name do |cb| %>
                  <ul>
                    <%= cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input") + cb.text}  %>
                  </ul>
                  <% end %>
                  <small class="form-text text-muted">You can only choose one.</small>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                <div class="form-group">
                  <%= f.label :Project_Preview %>
                  <div class="row">
                    <div class="card card-community-main mr-3 mt-3">
                      <%= image_tag @project.image, class: "card-commutity-img card-img-top" if @project.image? %>
                      <div class="card-body">
                        <h5 class="card-title"><%= @project.name %></h5>
                        <p class="card-text"><%= @project.description %></p>
                        <!-- <p class="card-text-location"><i class="fas fa-globe"></i> Worldwide</p> -->
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label><i class="fas fa-upload"></i> <strong>Image</strong> photo</label>
                  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
                </div>
            </div>
          </div>
          <%= f.submit class: 'btn btn-outline-danger' %>
          <small class="form-text text-muted">NOTE: It may take some time to upload your background and/or profile image, <strong>don't reload the web page please!</strong></small>
        <% end %>
      </div>
    </div>
  </div>
</div>
