<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123975074-1"></script>
    <title>Planetome - launch more. </title>
  </head>
  <body>
    <% if current_user.present? %>
    <% else %>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <!-- Find like-minded people to rent a better house together. -->
        <h1 class="main-text-color"><%=  image_tag('planets_logo_full.png', style: 'height:65px;width:auto;margin-right:10px;margin-top:-8px;')%><small>Start your project. Today.</small></h1>
        <h6 class="main-text-color">Upload all your ideas and project from your head to planets and start finally making progress.</h6>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% end %>
    <div class="row">
      <div class="jumbotron jumbotron-fluid jumbo-spacefeed">
        <div class="container-fluid">
          <div class="col">
            <% if current_user.present? %>
              <div class="row">
                <div class="col">
                  <% if current_user == @user && @user.first_name == nil %>
                  <h5 class="user-title-menu"><%= link_to "Add personal info", edit_user_path(current_user), class: "user-link-index" %></h5>
                  <% else %>
                  <h1 class="main-text-color good-font mt-3">Hi,
                    <%= image_tag current_user.avatar.url(:thumb), class: "profilePhotoIndex" if current_user.avatar? %>
                    <%= link_to current_user.first_name, user_path(current_user), class: "main-text-color" %>
                    <br>
                    <small>Big things start small.</small>
                  </h1>
                  <% end %>
                </div>
              </div>
            <div class="row">
              <div class="col">
                <%= link_to "Make progress", user_path(current_user), data: { turbolinks: false }, class: "btn btn-lg btn-danger btn-post-job good-font"%>
              </div>
            </div>
            <% else %>
            <h1 class=" main-text-color mt-3">Join us!
            <br>
            <!-- Find a place you'll call home. -->
            <small>Start your dream project today.</small></h1>
            <div class="row">
              <div class="col">
                <%= link_to "Let's go!", new_user_registration_path, data: { turbolinks: false }, class: "btn btn-lg btn-danger btn-post-job good-font"%>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- <br>
    <br>
    <div class="row">
      <div class="col">
        <p class="text-20"> <strong>About</strong> <%=  image_tag('planetome2.0_logo.png', style: 'height:20px;width:auto;')%> </p>
          <p class="text-17">Side projects are a way to learn new things, fulfill your creativity and expiriment.
            <br>Divide the big tasks into small and doable tasks
            <br> Consistency > intensity.
            <br> Block fixed amaount of time for your projects
            </p>
            <h6 class="red-text-color mt-3"><strong> Learn more ></strong></h6>
      </div>
    </div> -->
    <br>
    <br>
    <div class="row">
     <div class="col">
       <%= link_to(projects_path, class: "pages-index-main-links good-font") do %>
       <h1 class="main-text-color font-cabin">Projects</h1>
       <h3><small class="text-muted">Check what people is up to.</small></h3>
       <% end %>
     </div>
   </div>
    <div class="row">
        <% @projects.order("updated_at DESC").each do |project| %>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <%= link_to project_path(project), class: "card-user-link" do %>
                <div class="card card-community-index mt-3 p-1">
                  <div class="d-inline-flex">
                    <%= image_tag project.image.url, class: "fixed-image " if project.image? %>
                    <div class="d-flex align-items-center" >
                      <div class="ml-2 mt-2 mb-2 mr-1">
                        <h5 class="card-title card-title-project mb-0 mb-1"><%= project.name %>
                          <% if project.updates.count == 1 %>
                            <small style="margin-bottom:3px;"><span class="badge badge-pill badge-light"><%= project.updates.count %> update</span></small>
                            <% else %>
                            <small style="margin-bottom:3px;"><span class="badge badge-pill badge-light"><%= project.updates.count %> updates</span></small>
                          <% end %>
                        </h5>
                        <p class="card-text mb0px"><%= project.description %></p>
                        <% if project.user.present? %>
                        <%= link_to user_path(project.user), class: "user-title-project" do %>
                          <p class="user-title-project mt-0 pt-1 text-muted mb0px">

                          <%= image_tag project.user.avatar.url(:thumb), class: "profilePhotoProjectCard" if project.user.avatar? %>
                          <%= project.user.name %>
                          </p>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class=" float-right mr-0  mb-2">
                  <% if project.user.present? %>
                  <%= link_to user_path(project.user), class: "user-title-project" do %>
                    <h5 class="user-title-project text-muted">
                    <%= time_ago_in_words(project.updated_at) %> ago
                    <%= image_tag project.user.avatar.url(:thumb), class: "profilePhotoProjectCard" if project.user.avatar? %>
                    <%= project.user.name %>
                    </h5>
                    <% end %>
                  <% end %>
                </div> -->
              <% end %>
            </div>
        <% end %>
    </div>







     <!-- <div class="row">
      <div class="col">
        <%= link_to(homes_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Homes</h1>
        <h3><small class="text-muted">Great people living togerther in a nice place.</small></h3>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @homes.order(:created_at => :DESC).take(3).each do |home| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <%= link_to home_path(home), class: "card-community-link" do %>
          <div class="card bg-dark text-white text-white card-field-main  mt-3">
            <%= image_tag home.main_photo.url, class: "card-commutity-img-planetome " if home.main_photo? %>
          </div>
          <div class="row">
            <div class="col">
              <h5 class="mt-2 main-text-color"><strong><%= home.name %></strong> </h5>
              <h6 class=" main-text-color text-muted card-office-address-text"><small><%= home.city.name %></small></h6>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div> -->



<!--     <div class="row">
      <div class="col">
        <%= link_to(topics_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Topics</h1>
        <h3><small class="text-muted">Great coversations starts with a meaningful topic.</small></h3>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @topics.order(:created_at => :DESC).take(3).each do |i| %>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="card card-topic mt-1">
          <div class="card-body">
            <h5 class="main-text-color mt-2 mb-3">
              <%= link_to i.title, topic_path(i), class: "main-text-color", target: :_blank %>
            </h5>
            <% if i.user.present? %>
              <p class="main-text-color " style="margin-bottom:-10px;">
                <%= image_tag i.user.avatar.url(:medium), class: "profilePhotoIndex" if i.user.avatar? %>
                <span style="margin-left:3px;"><%= link_to i.user.first_name, user_path(i.user), class: "user-link-index" %></span>
              </p>
            <% end %>
          </div>
        </div>
        <br>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col">
        <div class="">
          <% if @topics.count > 2 %>
            <h6><strong> <%= link_to(topics_path, class: "red-text-color mt-3") do %>Show all <%= Topic.count %> topics ></strong></h6>
            <% end %>
          <% else %>
          <br>
          <% end %>
        </div>
      </div>
    </div> -->
    <!-- <br>
    <div class="row">
      <div class="col">
        <%= link_to(places_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Places</h1>
        <h3><small class="text-muted">Where the meaningful conversation happens.</small></h3>
        <% end %>

      </div>
    </div>
    <div class="row">
      <% @places.each do |place| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <%= link_to place_path(place), class: "card-community-link" do %>
          <div class="card bg-dark text-white card-field-main  mt-3">
            <%= image_tag place.main_image.url, class: "card-commutity-img-planetome " if place.main_image? %>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end"></div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="mt-2 main-text-color"><strong><%= place.name %></strong> </h6>
              <h6 class=" main-text-color text-muted card-office-address-text"><small><%= place.full_address %></small></h6>

            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div> -->
    <br>
    <br>

    <!-- <div class="row">
      <div class="col">
        <div class="card card-field-main">
      <div class="jumbotron jumbo-email">
          <div class="col">
            <% if current_user.present? %>
            <div class="row">
              <div class="col">
            <p class="heading-22 main-text-color good-font mt-1 text-white text-white-shadow">Start exploring today!
            <br>
            <small>Discover new homes and meet people living there.</small></p>
          </div>
          </div>
            <div class="row">
              <div class="col">
                <%= link_to "Discover homes", homes_path, data: { turbolinks: false }, class: "btn btn-lg btn-danger btn-post-job good-font"%>
              </div>
            </div>
            <% else %>
            <p class="heading-22 main-text-color good-font mt-2 text-white text-white-shadow">Join today!
            <br>
            <small>Get new homes updates! Once a week.</small></p>
            <div class="row">
              <div class="col">
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <style type="text/css">
                #mc_embed_signup{ clear:left; font:14px; width:100%;}
                </style>
                <div id="mc_embed_signup">
                <form action="https://planetome.us17.list-manage.com/subscribe/post?u=3602f37a0cdbaa42875a4ffb6&amp;id=31f6001008" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3602f37a0cdbaa42875a4ffb6_31f6001008" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
    <br> -->

    <!-- <div class="row">
      <div class="col">
        <%= link_to(cities_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Cities</h1>
        <h3><small class="text-muted">Come to the new place, meet locals.</small></h3>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% @cities.take(20).each do |city| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <%= link_to city_path(city) do %>
        <div class="card bg-dark text-white card-field-main text-center mt-3">
          <%= image_tag city.background.url, class: "card-field-img" if city.background? %>
          <div class="card-img-overlay">
            <h4 class="card-title card-title-field"><strong><%= city.name%></strong></h4>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col">
        <div class="mr-3">
          <% if @cities.count > 20 %>
            <%= link_to(cities_path, class: "btn btn-outline-danger btn-block btn-moreinfo-main main-text-color mt-3") do %>
            + <%= City.count-20 %> more
            <% end %>
          <% else %>
          <br>
          <% end %>
        </div>
      </div>
    </div>

    <br> -->

  </body>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-123975074-1');
  </script>
</html>
