
<div class="row">
  <div class="jumbotron jumbotron-fluid jumbo-test">
    <div class="container">
      <div class="col">
        <h1 class="display-4 main-text-color font-black-background-color-community-show main-caption">Make an impact.</h1>
        <h3><small class="font-black-background-color-community-show main-caption">Work in purpose driven companies.</small></h3>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-md-8">
        <div class="card card-job-post">
          <div class="card-body">
            <%= link_to new_job_path, class: "card-community-link"  do %>
              <h5 class="card-title"><strong>Post a Job - <small><s class="s-red">$179</s></small> $59 pre-launch price</strong> </h5>
              <p class="card-text">Post a meaningful job to get super interested applicants.</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="col">
    <%= link_to(communities_path, class: "pages-index-main-links") do %>
    <h1 class="main-text-color">Curated collections</h1>
    <h3><small class="text-muted">Amazing opportunities handpicked by the MakeImpact team.</small></h3>
    <% end %>
  </div>
</div>



<div class="row">
  <% @communities.take(8).each do |community| %>
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <%= link_to community_path(community), class: "card-community-link" do %>
      <div class="card bg-dark text-white text-white card-field-main  mt-3">
        <%= image_tag community.background, class: "card-commutity-img " if community.background? %>
        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
          <h3 class="card-title card-title-index "><strong class="font-red-background-color"><%= community.name %></strong></h3>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>



<% if @communities.count < 8 %>
  <br>
  <br>
<% else %>
<div class="row">
  <div class="col">
      <%= link_to(communities_path, class: "btn btn-outline-danger btn-block btn-moreinfo-main main-text-color mt-3") do %>
      + <%= Community.count-8 %> more
      <% end %>
  </div>
</div>
<% end %>
<br>
<br>

<div class="row">
  <div class="col">
    <%= link_to(categories_path, class: "pages-index-main-links") do %>
    <h1 class="main-text-color">Categories</h1>
    <h3><small class="text-muted">Pick where you best or where you want to start.</small></h3>
    <% end %>
  </div>
</div>


<%# NOTE: Sort based on how many jobs in the category %>
<div class="row">
  <% @categories.each  do |cat| %>
  <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <%= link_to category_path(cat) do  %>
      <div class="card card-category-main text-center mt-3">
        <h5 class="card-title category-title"><strong><%= cat.title %></strong></h5>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<br>
<br>
<div class="row">
  <div class="col">
    <%= link_to(fields_path, class: "pages-index-main-links") do %>
    <h1 class="main-text-color">Fields</h1>
    <h3><small class="text-muted">The field where you want to start.</small></h3>
    <% end %>
  </div>
</div>
<div class="row">
  <% @fields.take(8).each do |field| %>
  <div class="col-6 col-md-6 col-lg-3 col-xl-3">
    <%= link_to field_path(field) do %>
    <div class="card bg-dark text-white card-field-main text-center  mt-3">
      <%= image_tag field.background, class: "card-field-img" if field.background? %>
      <div class="card-img-overlay">
        <h5 class="card-title card-title-field"><%= field.name%></h5>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<% if @fields.count < 8 %>
<br>
<br>

<% else %>

<div class="row">
  <div class="col">
    <div class="">
      <%= link_to(fields_path, class: "btn btn-outline-danger btn-block btn-moreinfo-main main-text-color mt-3") do %>
      + <%= Field.count-4 %> more
      <% end %>
    </div>
  </div>
</div>
<br>
<br>


<% end %>


<div class="row">
  <div class="col">
    <h1 class="main-text-color">Recent jobs</h1>
    <h3><small class="text-muted">The most fresh 30 opportunities!</small></h3>
  </div>
</div>
<br>
<div class="row">
  <% @jobs.order("created_at DESC").each do |job| %>
	  <div class="col-12 col-md-8 col-lg-8 col-xl-8">
      <div class="card card-job-listing-main">
        <div class="card-body">
          <% if job.is_remote == true %>
            <h5 class="card-title"><small>Remote </small><strong><%= link_to job.position, job_path(job), class: "normal-link-red" %></strong>
              <small> at <%= link_to job.employer.company_name, employer_path(job.employer), class: "normal-link-light-grey"%></small>
              <small class="float-right text-muted"><%= time_ago_in_words(job.created_at) %> ago</small>
            </h5>
          <% else %>
            <h5 class="card-title"><strong><%= link_to job.position, job_path(job), class: "normal-link-red" %></strong>
              <small> at <%= link_to job.employer.company_name, employer_path(job.employer), class: "normal-link-light-grey"%></small>
              <small class="float-right text-muted"><%= time_ago_in_words(job.created_at) %> ago</small>
            </h5>
          <% end %>
          <p class="card-text text-muted"><%= job.impact %>
          </p>
        </div>
      </div>
      <br>
    </div>
  <% end %>
</div>
<br>
<br>
