<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123975074-1"></script>
    <title>Planetome - Enabling meaningful human connections in the real world. </title>
  </head>
  <body>
    <!-- <div class="row">
      <div class="jumbotron jumbotron-fluid jumbo-test">
        <div class="container">
          <div class="col">
            <h1 class="display-4 main-text-color font-black-background-color-community-show main-caption good-font">SpaceFeed</h1>
            <h3><small class="font-black-background-color-community-show main-caption">Be on the edge of space exploration</small></h3>
          </div>
        </div>
      </div>
    </div> -->



    <% if current_user.present? %>

    <% else %>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <h1 class="main-text-color"><%=  image_tag('planetome2.0_logo.png', style: 'height:45px;width:auto;margin-right:10px;')%><small> Enabling meaningful human connections in the real world.</small></h1>
  <!-- - meet like-minded people in great places around the world. Enabling meaningful human conversations in the real world. -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% end %>
    <div class="row">
      <div class="jumbotron jumbotron-fluid jumbo-spacefeed">
        <!-- <div class="jumbo-gragient-bg"></div> -->
        <div class="container">
          <div class="col">
            <% if current_user.present? %>
              <div class="row">
                <div class="col">
                  <% if current_user == @user && @user.first_name == nil %>
                  <h5 class="user-title-menu"><%= link_to "Add personal info", edit_user_path(current_user), class: "user-link-index" %></h5>
                  <% else %>
                  <h1 class=" main-text-color good-font mt-3">Hi,
                    <%= image_tag current_user.avatar.url(:thumb), class: "profilePhotoIndex" if current_user.avatar? %>
                    <%= link_to current_user.first_name, user_path(current_user), class: "user-link-index" %>
                    <br>
                    <small>Create meaningful conversation today.</small>
                  </h1>
                  <% end %>
                </div>
              </div>
            <div class="row">
              <div class="col">
                <%= link_to "Create a meeting topic", new_topic_path, data: { turbolinks: false }, class: "btn btn-lg btn-danger btn-post-job good-font"%>
              </div>
            </div>
            <% else %>

            <h1 class=" main-text-color  good-font mt-3">Join us
            <br>
            <small>Find your perfect conversation today.</small></h1>
            <div class="row">
              <div class="col">
                <%= link_to "Sign Up", new_user_registration_path, data: { turbolinks: false }, class: "btn btn-lg btn-danger btn-post-job good-font"%>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>


    <div class="row">
      <div class="col">
        <%= link_to(topics_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Topics</h1>
        <h3><small class="text-muted">Great coversations starts with a meaningful topic.</small></h3>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @topics.order(:created_at => :DESC).take(3).each do |i| %>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <div class="card card-topic mt-1">
          <div class="card-body">
            <h4 class="main-text-color mb-3">
              <%= link_to i.title, topic_path(i), class: "main-text-color", target: :_blank %>
            </h4>
            <!-- <h5 class="feed-link text-center mb-2"><small class="text-muted"><%= i.description %></small></h5> -->
            <!-- <hr class="mb-4"> -->
            <!-- <hr style="width:50px;height:1.5px;background-color:#e62e21;margin-left:0px;margin-top:0px;"> -->
            <% if i.user.present? %>
              <p class="main-text-color" style="margin-bottom:-10px;"><span style="margin-right:3px;">Created by</span>
                <%= image_tag i.user.avatar.url(:medium), class: "profilePhotoIndex" if i.user.avatar? %>
                <%= link_to i.user.first_name, user_path(i.user), class: "user-link-index" %>
              </p>
            <% end %>
          </div>
        </div>
        <br>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col">
        <div class="">
          <% if @topics.count > 2 %>
            <h6><strong> <%= link_to(topics_path, class: "red-text-color mt-3") do %>Show all <%= Topic.count %> topics ></strong></h6>
            <% end %>
          <% else %>
          <br>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <%= link_to(places_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Places</h1>
        <h3><small class="text-muted">Where the meaningful conversation happens.</small></h3>
        <% end %>

      </div>
    </div>
    <div class="row">
      <% @places.each do |place| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <%= link_to place_path(place), class: "card-community-link" do %>
          <div class="card bg-dark text-white card-field-main  mt-3">
            <%= image_tag place.main_image, class: "card-commutity-img-planetome " if place.main_image? %>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <!-- <h3 class="card-title card-title-index "><strong class="font-red-background-color"><%# community.name %></strong></h3> -->
            </div>

          </div>
          <div class="row">
            <div class="col">
              <h6 class="mt-2 main-text-color"><strong><%= place.name %></strong> </h6>
              <h6 class=" main-text-color text-muted card-office-address-text"><small><%= place.full_address %></small></h6>

            </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col">
        <%= link_to(cities_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">Cities</h1>
        <h3><small class="text-muted">Come to the new place, meet locals.</small></h3>
        <% end %>
      </div>
    </div>

    <div class="row">

      <% @cities.take(20).each do |city| %>
      <div class="col-12 col-md-6 col-lg-6 col-xl-6">
        <%= link_to city_path(city) do %>
        <div class="card bg-dark text-white card-field-main text-center mt-3">
          <%= image_tag city.background, class: "card-field-img" if city.background? %>
          <div class="card-img-overlay">
            <h4 class="card-title card-title-field"><strong><%= city.name%></strong></h4>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col">
        <div class="mr-3">
          <% if @cities.count > 20 %>
            <%= link_to(cities_path, class: "btn btn-outline-danger btn-block btn-moreinfo-main main-text-color mt-3") do %>
            + <%= City.count-20 %> more
            <% end %>
          <% else %>
          <br>
          <% end %>
        </div>
      </div>
    </div>

    <br>



    <!-- <div class="row">
      <div class="col">
        <%= link_to(ideas_path, class: "pages-index-main-links good-font") do %>
        <h1 class="main-text-color">The feed</h1>
        <h3><small class="text-muted">Know what's new here.</small></h3>
        <% end %>
      </div>
    </div>
    <div class="row">
      <% @ideas.order(:created_at => :DESC).take(5).each do |i| %>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">

          <div class="card card-idea-index mt-2">
            <div class="row">
              <%= link_to upvote_idea_path(i), method: :put, class: "btn btn-default  upvote-controls float-left" do %>
                <i class="fas fa-caret-up upvote-arrow"></i>
                <br>
                <div class="upvote-number">
                  <%= i.get_upvotes.size %>
                </div>
              <% end %>
              <div class="col-10 col-sm-9 col-md-10 col-lg-10 col-xl-11">
                <h4 class="main-text-color">
                  <%= link_to i.title, "#{i.link}", class: "main-text-color", target: :_blank %>
                </h4>
                <h5 class="feed-link"><small class="text-muted"><%= i.link %></small></h5>
                <small class="float-left text-muted" style="margin-top:7px;"><%= time_ago_in_words(i.created_at) %> ago by
                <% if i.user.present? %>
                <%= link_to i.user.name, user_path(i.user), class: "main-text-color" %>
                <% end %>
                <% if current_user.present? && current_user.admin? %>
                <%= link_to " | delete", idea_path(i), method: :delete, class: "add-idea-link", data: { confirm: 'Idea will be deleted permanently. Are you sure?' } %>
                <% end %>
                </small>
              </div>
            </div>

        </div>
        <br>
      </div>
      <% end %>
    </div>
    <% if @ideas.count < 5 %>
      <br>
      <br>
    <% else %>
    <div class="row">
      <div class="col">
          <%= link_to(ideas_path, class: "btn btn-danger  main-text-color ") do %>
          Explore more news
          <% end %>
      </div>
    </div>
    <br>
    <br>

    <% end %>
 -->












<!--
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-job-post">
              <div class="card-body">
                <%# link_to new_job_path, data: { turbolinks: false }, class: "card-community-link"  do %>
                  <h5 class="card-title"><strong class="good-font">Rent a home</strong> </h5>
                  <p class="card-text">Find a perfect place to live with community or alone.</p>
                <%# end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-job-post">
              <div class="card-body">
                <%= link_to new_job_path, data: { turbolinks: false }, class: "card-community-link"  do %>
                  <h5 class="card-title"><strong class="good-font">Find a place to work</strong> </h5>
                  <p class="card-text">Discover the best places to work from coworkings to libraries.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="col-md-8">
            <div class="card card-job-post">
              <div class="card-body">
                <%= link_to new_job_path, data: { turbolinks: false }, class: "card-community-link"  do %>
                  <h5 class="card-title"><strong class="good-font">Find a Job</strong> </h5>
                  <p class="card-text">Local or remote but meaningful and with an impact.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br> -->


  </body>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-123975074-1');
  </script>
</html>
