<%= render 'shared/errors', obj: @project %>
  <div class="row">
    <div class="col">
      <div class="card card-login">
        <div class="card-body">
          <%= form_for(@project, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-9 col-xl-9">
                <div class="form-group">
                  <h4><strong><%= f.label :name, class: "control-label" %></strong></h4>
                  <%= f.text_field :name, class: "form-control", placeholder: "Mars colonization", autofocus: true %>
                </div>
                <div class="form-group">
                  <h4><strong><%= f.label :Description, class: "control-label" %></strong></h4>
                  <%= f.text_area :description, rows: 3, class: "form-control", placeholder: "I think that Mars can be a great vacation spot but let's colonize it first.", autofocus: false, id: "body-field" %>
                </div>
                <br>
                <div class="form-group">
                  <label><i class="fas fa-upload"></i> <strong>Project</strong> image</label>
                  <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
                </div>
                <div class="form-group">

                  <% if @project.is_public? %>
                  <div class="card card-project-visibility d-inline-flex p-2">
                    <label><strong>Your project is private right now</strong> <br>De-select checkbox below to make it public.</label>
                    <div class="form-check">
                      <%= f.check_box :is_public, class: "form-check-input" %>
                      <label class="form-check-label" style="margin-top:2px;">
                        Make this project <strong>private</strong>
                      </label>
                    </div>
                  </div>

                  <% else %>

                  <div class="card card-project-visibility d-inline-flex p-2">
                    <label><strong>All new projects are public by default</strong></label>
                    <div class="form-check">
                      <%= f.check_box :is_public, class: "form-check-input" %>
                      <label class="form-check-label" style="margin-top:2px;">
                        Make this project <strong>private</strong>
                      </label>
                    </div>
                  </div>
                  <% end %>

                </div>


                <!-- <div class="form-group">
                  <h4><strong><%= f.label :Field, class: "control-label" %></strong></h4>
                  <%= f.collection_check_boxes :field_ids, Field.all, :id, :name do |cb| %>
                  <ul>
                    <%= cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input") + cb.text}  %>
                  </ul>
                  <% end %>
                  <small class="form-text text-muted">You can only choose one.</small>
                </div> -->
              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                <div class="form-group">
                  <%= f.label :Project_Preview %>
                  <div class="row">
                    <div class="col-12">
                      <div class="card card-user-page p-2">
                        <%= image_tag @project.image.url, class: "card-user-bg-img card-img-top mb-2" if @project.image? %>
                        <div class="p-1">
                          <% if @project.is_public? %>
                          <span class="badge badge-dark mb-1">Private</span>
                          <% end %>
                          <h5 class="card-title card-title-project "> <strong><%= @project.name %></strong></h5>
                          <p class="card-text"><%= @project.description %></p>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
                <br>
            </div>
          </div>
          <%= f.submit class: 'btn btn-danger' %>
          <small class="form-text text-muted">NOTE: It may take some time to upload your background and/or profile image, <strong>don't reload the web page please!</strong></small>
        <% end %>
      </div>
    </div>
  </div>
</div>
