


<% if current_user == @project.user %>
<div class="row">
  <div class="col-12 col-md-9 col-lg-9 col-xl-9">
    <h3 class="main-text-color"><%= @project.name %>
    <br>
    <small class="text-muted"><%= @project.description %></small>
    </h3>

    <p class="text-muted">
    <% @project.fields.each do |field| %>
    • <%= field.name %>
    <% end %>
    </p>
  </div>
  <div class="col-12 col-md-3 col-lg-3 col-xl-3">
    <%= link_to 'Back', :back, class: "btn btn-outline-danger btn-block"  %>
  </div>
</div>

<br>
<br>
<div class="row">

  <div class="col-12 order-xs-last col-sm-6 col-md-8 col-lg-9 col-xl-9">
    <% if @project.user == current_user %>
      <div class="row">
        <div class="col-12">
          <h3 class="main-text-color">Updates
          <% if @project.updates.count == 0 %>
          <% else %>
          <small class="text-muted"><%= @project.updates.count %></small>
          <% end %>
          </h3>
        </div>
      </div>
        <%= link_to(new_project_update_path(@project), class: "btn btn-outline-danger btn-block ") do %>
        <i class="fas fa-plus"></i>
        <br>
        <% end %>
      <% else %>
      <div class="row">
        <div class="col-12">
          <h3 class="main-text-color">Updates
          <% if @project.updates.count == 0 %>
          <% else %>
          <small class="text-muted"><%= @project.updates.count %></small>
          <% end %>
          </h3>
        </div>
      </div>
    <% end %>

    <div class="row">
      <% @project.updates.order("created_at DESC").each do |update| %>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card card-community-index mt-3">
          <div class="card-body">
            <div class="row">
              <div class="col-10 col-sm-9 col-md-10 col-lg-11 col-xl-11">
                <h5 class="card-title"><%= update.name %></h5>
              </div>
              <div class="col-2 col-sm-3 col-md-2 col-lg-1 col-xl-1">
                <div class="dropdown dropleft">
                  <button class="btn update-dropdown text-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <%= link_to "Edit update", edit_project_update_path(@project, update), class: "dropdown-item" %>
                    <%= link_to "Delete update", project_update_path(@project, update), method: :delete, class: "dropdown-item", data: { confirm: 'Update and ALL DATA in it will be deleted permanently. Are you sure?' }  %>
                  </div>
                </div>
              </div>
            </div>
            <p class="card-text"><%= simple_format update.description  %></p>
          </div>
        </div>
        <small class="float-right text-muted" style="margin-top:7px;"><%= time_ago_in_words(update.created_at) %> ago</small>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-12 order-xs-first col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <div class="row">
      <div class="col-12">
        <div class="card card-user-page">
          <%= image_tag @project.image, class: "card-user-bg-img card-img-top" if @project.image? %>
          <div class="card-body">
            <h5 class="card-title card-title-project"><%= @project.name %></h5>
            <p class="card-text"><%= @project.description %></p>
          </div>
        </div>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h6 class="main-text-color">
        <small class="text-muted">Creator</small>
        </h6>
        <%= render 'users/usersmallcard', user: @project.user %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-12">
        <h6 class="main-text-color">
        <small class="text-muted">Owner controls</small>
        </h6>
        <%= link_to "Edit", edit_project_path(@project), class: "btn btn-outline-danger btn-block "%>
        <%= link_to "Delete", @project, method: :delete, class: "btn btn-block btn-outline-danger", data: { confirm: 'Project and ALL DATA in it will be deleted permanently. Are you sure?' }  %>

      </div>
    </div>
    <br>

  </div>


</div>
<% else %>
  <div class="row">
    <div class="col-12 col-md-9 col-lg-9 col-xl-9">
      <h3 class="main-text-color"><%= @project.name %>
      <br>
      <small class="text-muted"><%= @project.description %></small>
      </h3>

      <p class="text-muted">
      <% @project.fields.each do |field| %>
      • <%= field.name %>
      <% end %>
      </p>
    </div>
    <div class="col-12 col-md-3 col-lg-3 col-xl-3">
      <%= link_to 'Back', :back, class: "btn btn-outline-danger btn-block"  %>
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-12 order-xs-first col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="row">
        <div class="col-12">
          <div class="card card-user-page">
            <%= image_tag @project.image, class: "card-user-bg-img card-img-top" if @project.image? %>
            <div class="card-body">
              <h5 class="card-title card-title-project"><%= @project.name %></h5>
              <p class="card-text"><%= @project.description %></p>
            </div>
          </div>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h6 class="main-text-color">
          <small class="text-muted">Creator</small>
          </h6>
          <%= render 'users/usersmallcard', user: @project.user %>
        </div>
      </div>
      <br>

    </div>
    <div class="col-12 order-xs-last col-sm-6 col-md-8 col-lg-9 col-xl-9">
      <% if @project.user == current_user %>
        <div class="row">
          <div class="col-12">
            <h3 class="main-text-color">Updates
            <% if @project.updates.count == 0 %>
            <% else %>
            <small class="text-muted"><%= @project.updates.count %></small>
            <% end %>
            </h3>
          </div>
        </div>
          <%= link_to(new_project_update_path(@project), class: "btn btn-outline-danger btn-block ") do %>
          <i class="fas fa-plus"></i>
          <br>
          <% end %>
        <% else %>
        <div class="row">
          <div class="col-12">
            <h3 class="main-text-color">Updates
            <% if @project.updates.count == 0 %>
            <% else %>
            <small class="text-muted"><%= @project.updates.count %></small>
            <% end %>
            </h3>
          </div>
        </div>
      <% end %>
      <div class="row">
        <% @project.updates.order("created_at DESC").each do |update| %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="card card-community-index mt-3">
            <div class="card-body">
              <div class="row">
                <div class="col-10 col-sm-9 col-md-10 col-lg-11 col-xl-11">
                  <h5 class="card-title"><%= update.name %></h5>
                </div>
                <div class="col-2 col-sm-3 col-md-2 col-lg-1 col-xl-1">
                  <% if @project.user == current_user %>
                  <div class="dropdown dropleft">
                    <button class="btn update-dropdown text-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <%= link_to "Edit update", edit_project_update_path(@project, update), class: "dropdown-item" %>
                      <%= link_to "Delete update", project_update_path(@project, update), method: :delete, class: "dropdown-item", data: { confirm: 'Update and ALL DATA in it will be deleted permanently. Are you sure?' }  %>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <p class="card-text"><%= update.description %></p>
            </div>
          </div>
          <small class="float-right text-muted" style="margin-top:7px;"><%= time_ago_in_words(update.created_at) %> ago</small>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
