<%= render 'shared/errors', obj: resource %>
<div class="row">
  <div class="jumbotron jumbotron-fluid jumbo-spacefeed-login">
    <!-- <div class="jumbo-gragient-bg"></div> -->
    <div class="container">
      <div class="col">
        <div class="row">
          <div class="col-12 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-3 col-lg-6 offset-xl-4 col-xl-4">
            <div class="card card-login ">

              <div class="card-body">
                <h4 class="mb-3 main-text-color font-cabin"><i>Log in to <%=  image_tag('planets_logo_full.png', style: 'height:30px;width:auto;margin-right:10px;margin-top:-5px;')%></i></h4>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
                  <div class="form-group">
                    <h6><strong><%= f.label :email, class: "control-label" %>
                    <%= f.email_field :email, autofocus: true, class: 'form-control' %></strong></h6>
                  </div>
                  <div class="form-group">
                    <h6><strong><%= f.label :password, class: "control-label" %>
                    <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %></strong></h6>
                  </div>
                  <!-- <% if devise_mapping.rememberable? %>
                    <div class="checkbox">
                      <%= f.label :remember_me do %>
                        <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
                      <% end %>
                    </div>
                  <% end %> -->
                  <%= f.submit  t('.sign_in_btn', default: 'Sign in'), class: 'btn btn-danger' %>
                <% end %>
              </div>
            </div>
            <%= render 'devise/shared/links' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
