
<div class="row">
  <div class="col-12  col-md-7 col-lg-8 col-xl-9">
    <h1 class="main-text-color"><%= @employer.company_name %></h1>
    <h3><small class="text-muted"><%= @employer.pitch %></small></small>
    </h3>
  </div>
  <div class="col-12  col-md-5 col-lg-4 col-xl-3">
    <%= link_to "Website", "https://#{@employer.link}", class: "btn btn-outline-danger btn-block " %>
  </div>
</div>

<br>
<br>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
    <% if @employer.jobs.count == 0 %>
    <div class="row">
      <div class="col">
        <h3 class="main-text-color">Avalible jobs
        <br>
        <small class="text-muted">No jobs yet.</small>
        </h3>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="col">
        <h3 class="main-text-color">Avalible jobs</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <% @jobs.order("created_at DESC").each do |job| %>
        <div class="col-12 ">
          <div class="card card-job-listing-main">
            <div class="card-body">
              <h5 class="card-title">
              <% if job.is_remote == true %>
              <small>Remote </small>
              <% end %>
              <strong><%= link_to job.position, job_path(job), class: "normal-link-red" %></strong>
              </h5>
              <div class="row">
                <div class="col-12 col-md-10 col-lg-9 col-xl-9">
                  <p class="card-text", style="margin-top:10px;"><strong><%= job.impact %></strong>
                  </p>
                </div>
                <div class="col-12 col-md-2 col-lg-3 col-xl-3">
                  <small class="float-right text-muted"><%= link_to "Apply", "https://#{job.link}", class: "btn btn-outline-danger mt-1 btn-block" %></small>
                </div>
              </div>
            </div>
          </div>
          <h6><small class="float-right text-muted job-listing-time mr-2", style="margin-top:5px;"><%= time_ago_in_words(job.created_at) %> ago</small></h6>
          <br>
        </div>
        <% end %>
      </div>
    <% end %>
    <br>
    <br>
  </div>
</div>
