<div class="row">
  <div class="col-11">
    <h3 class="main-text-color"><%= @category.title %>
    <br>
    <small class="text-muted"><%= @category.about %> | <%= link_to "(edit)", edit_category_path(@category)%></small>
    </h3>
    <p class="text-muted">
    </p>
  </div>
</div>
<br>
<br>

<div class="row">
  <% @job_categories.order("created_at DESC").each do |job| %>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <%= link_to job_path(job), class: "card-user-link" do %>
    <div class="card ">
        <div class="card-body">
          <h5 class="card-title"><strong><%= job.position %></strong> <small> at <%= link_to job.employer.company_name, employer_path(job.employer)%></small></h5>
          <p class="card-text text-muted"><%= job.impact %></p>
        </div>
    </div>
    <% end %>

  </div>
  <% end %>
</div>
