<%= render 'shared/errors', obj: @community %>
  <div class="row">
    <div class="col">
      <div class="card card-login">
        <div class="card-body">
          <%= form_for(@community, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-9 col-xl-9">
                <div class="form-group">
                      <%= f.label :title, class: "control-label" %>
                      <%= f.text_field :name, class: "form-control", placeholder: "Get into VC world", autofocus: true %>
                </div>

                <div class="form-group">
                  <%= f.label :About, class: "control-label" %>
                  <%= f.text_area :description, rows: 3, class: "form-control", placeholder: "Help great entrepreneurs change the world.", autofocus: true, id: "body-field" %>
                  <small class="form-text text-muted" id="body-count">0</small>
                </div>

                <div class="form-group">
                  <%= f.label :Field, class: "control-label" %>
                  <%= f.collection_check_boxes :field_ids, Field.all, :id, :name do |cb| %>
                  <ul>
                    <%= cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input") + cb.text}  %>
                  </ul>
                  <% end %>
                  <small class="form-text text-muted">You can only choose one.</small>
                </div>

                


              </div>
              <div class="col-12 col-md-6 col-lg-3 col-xl-3">
                <div class="form-group">
                  <%= f.label :Collection_Preview %>
                  <div class="row">
                    <div class="col-12">
                      <div class="card bg-dark text-white text-white card-field-main ">
                        <%= image_tag @community.background, class: "card-commutity-img " if @community.background? %>
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                          <h3 class="card-title card-title-index"><strong class="font-red-background-color"><%= @community.name %></strong></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <label><i class="fas fa-upload"></i> <strong>Background</strong> photo</label>
                  <%= f.file_field :background, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
                </div>
            </div>
          </div>
          <%= f.submit class: 'btn btn-outline-danger' %>
          <small class="form-text text-muted">NOTE: It may take some time to upload your background image, <strong>don't reload the web page please!</strong></small>
        <% end %>
      </div>
    </div>
    <br>
    <h6 class="main-text-color">
    <small class="text-muted">Special controls</small>
    </h6>
    <%= link_to "Delete", @community, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Collection will be deleted permanently. Are you sure?' }  %>

  </div>
</div>
