
<div class="row">
  <% if user_signed_in?  %>
  <div class="col-12  col-md-7 col-lg-8 col-xl-9">
    <h3 class="main-text-color">Communities
    <br>
    <small class="text-muted">The field where you want to start.</small>

    </h3>
  </div>
    <div class="col-12  col-md-5 col-lg-4 col-xl-3">
      <%= link_to(new_community_path, class: "btn btn-outline-danger btn-block ") do %>
      <i class="fas fa-plus"></i>
      Create a new Community
      <% end %>

    </div>


  <% else %>
  <div class="col-12">
    <h3 class="main-text-color">Communities
    <br>
    <small class="text-muted">The field where you want to start.</small>

    </h3>
  </div>
  <% end %>
</div>
<br>

<div class="row">
  <% @communities.each do |community| %>
  <div class="col-6 col-md-6 col-lg-3 col-xl-3">
    <%= link_to community_path(community), class: "card-user-link" do %>
    <div class="card card-community-index mt-3">
      <%= image_tag community.background, class: "card-commutity-img card-img-top" if community.background? %>
      <div class="card-body">
        <h5 class="card-title"><%= community.name %></h5>
        <p class="card-text"><%= community.description %></p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

</div>
