
<div class="row">
  <div class="col-11">
    <h3 class="main-text-color"><%= @community.name %>
    <br>
    <small class="text-muted"><%= @community.description %></small>
    </h3>
    <p class="text-muted">
    <% @community_fields.each do |field| %>
    • <%= field.name %>
    <% end %>
    | Created by <%= image_tag @community.user.avatar.url(:medium), class: "community-user-profile-photo" if @community.user.avatar? %> <%= link_to @community.user.name, @community.user,  class: "community-user-link" %>
    </p>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-12 col-md-3 col-lg-2 col-xl-2">
    <%= link_to "Join", new_community_post_path(@community), class: "btn btn-outline-danger btn-block " %>


    <br>
    <div class="card card-community-show" >
      <nav class="nav flex-column community-menu-annotation">
        <button type="button" class="list-group-item list-group-item-action community-menu active" id="list-posts-list" data-toggle="list" href="#list-posts" role="tab" aria-controls="home">Posts</button>
        <button type="button" class="list-group-item list-group-item-action community-menu "id="list-people-list" data-toggle="list" href="#list-people" role="tab" aria-controls="profile">People</button>
        <!-- <button type="button" class="list-group-item list-group-item-action community-menu ">Meetups</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Webinars</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Books</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Advices</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Mentors</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Ideas</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Projects</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Chat</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Jobs</button>
        <button type="button" class="list-group-item list-group-item-action community-menu ">Wiki</button> -->
        <!-- <button type="button" class="list-group-item list-group-item-action community-menu " disabled>Rules</button> -->
        <!-- <button type="button" class="list-group-item list-group-item-action community-menu " >About</button> -->
        <% if current_user == @community.user %>
        <div class="dropdown-divider"></div>
        <li class="list-group-item community-menu-annotation">Owner's controls</li>
        <%= link_to "Edit", edit_community_path, class: "list-group-item list-group-item-action community-menu"  %>
        <%= link_to "Delete", @community, method: :delete, class: "list-group-item list-group-item-action community-menu", data: { confirm: 'Community and ALL DATA in it will be deleted permanently. Are you sure?' }  %>
        <% end %>
      </nav>
    </div>
    <br>
  </div>
  <div class="col-12 col-md-9 col-lg-10 col-xl-10">

    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-posts" role="tabpanel" aria-labelledby="list-posts-list">
        <%= render "posts"%>
      </div>
      <div class="tab-pane fade" id="list-people" role="tabpanel" aria-labelledby="list-people-list">
        <%= render "people"%>
      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>

  </div>
</div>
