
<div class="row">
  <% if user_signed_in?  %>
  <div class="col-12  col-md-7 col-lg-8 col-xl-9">
    <h1 class="display-4 main-text-color"><%= @field.name %></h1>
    <h3><small class="text-muted"><%= @field.description %></small></h3>
  </div>
    <div class="col-12  col-md-5 col-lg-4 col-xl-3">
      <br>
      <%= link_to(new_project_path, class: "btn btn-outline-danger btn-block ") do %>
      <i class="fas fa-plus"></i>
      Start!
      <% end %>
    </div>
  <% else %>
  <div class="col-12">
    <h1 class="display-4 main-text-color"><%= @field.name %></h1>
    <h3><small class="text-muted"><%= @field.description %></small></h3>
  </div>
  <% end %>
</div>

<br>

<div class="row">
  <div class="col">
    <h3 class="main-text-color">Communities
    <br>
    <small class="text-muted">You're not the only one just starting.</small>
    </h3>
  </div>
</div>
<div class="row">
  <% @community_fields.each do |community| %>
  <div class="col-6 col-md-6 col-lg-3 col-xl-3">
    <%= link_to community_path(community), class: "card-user-link" do %>
    <div class="card bg-dark text-white text-white card-field-main  mt-3">
      <%= image_tag community.background, class: "card-commutity-img " if community.background? %>
      <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
        <div class="just-test">
          <h5 class="card-title card-title-index"><%= truncate(community.name, length: 45 )%></h5>
          <p class="card-text card-text-index card-community-link "><%= truncate(community.description, length: 90 )%></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<br>
<br>
<div class="row">
  <div class="col">
    <h3 class="main-text-color">Projects
    <br>
    <small class="text-muted">See what people are up to.</small>
    </h3>
  </div>
</div>

<div class="row">
  <% @project_fields.each do |project| %>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <%= link_to project_path(project), class: "card-user-link" do %>
    <div class="card card-community-index ">
      <div class="row">
        <% if project.image? %>
        <div class="col-2 col-sm-2 col-md-3 col-lg-2 col-xl-2">
          <%= image_tag project.image, class: "card-project-img card-img-left" if project.image? %>
        </div>
        <div class="col-10 col-sm-10 col-md-9 col-lg-10 col-xl-10">
          <div class="card-body card-body-project">
            <h5 class="card-title"><%= project.name %></h5>
            <p class="card-text"><%= project.description %></p>
          </div>
        </div>

        <% else %>
        <div class="col-12">
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <p class="card-text"><%= project.description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="row float-right mr-0  ">
      <% if project.user.present? %>
      <%= image_tag project.user.avatar.url(:thumb), class: "profilePhotoProject" if project.user.avatar? %>
      <h5 class="user-title-project"><%= link_to project.user.name, user_path(project.user), class: "user-title-project" %></h5>
      <% end %>
    </div>
  </div>
  <% end %>

</div>
