<div class="row">
  <div class="col-12 col-md-9 ">
    <h1 class="main-text-color good-font">Edit <%= @place.name %>'s page</h1>
    <h5><small class="text-muted"><%= link_to 'Go back to the page', place_path(@place), class: "text-muted text-muted-small" %> | <%= link_to 'Front page', root_path, class: "text-muted text-muted-small" %></small></h5>
  </div>
</div>
<br>
<%= render 'form' %>
<br>
<h6 class="main-text-color">
<small class="text-muted">Special controls</small>
</h6>
<%= link_to "Delete this place", @place, method: :delete, class: "btn btn-danger", data: { confirm: 'Place will be deleted permanently. Are you sure?' }  %>
