<div class="row">
  <div class="col-12">
    <div class="card card-controls">
      <div class="card-body card-body-controls">
        <div class="row">
          <div class="col-12">
            <%= link_to "Categories", categories_path, class: "btn btn-controls mr-5 mt-3 mb-3" %>
            <%= link_to "Collections", communities_path, class: "btn btn-controls mr-5 mt-3 mb-3" %>
            <%= link_to "Post a Job", new_job_path, class: "btn  btn-outline-danger  mb-3 mt-3 float-right" %>
          </div>
          <!-- <div class="col-3">
            <div class="control-center">
              <%= link_to "Collections", communities_path, class: "btn btn-link btn-block" %>
            </div>
          </div>
          <div class="col-3">
            <div class="control-right">
            <%= link_to "Post a Job", new_job_path, class: "btn btn-link btn-block" %>
            </div>
          </div>
          <div class="col-3">

          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
