<nav class="navbar navbar-expand-lg navbar-light navbar-margin navbar-color-shadow ">
  <%= link_to image_tag('logo_spacefeed.png', style: 'height:40px;width:auto;'), root_path %>
  <button class="navbar-toggler custom" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "News", ideas_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Categories", categories_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Collections", communities_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Companies", employers_path, class: "nav-link"  %>
      </li>
      <li class="nav-item">
        <%= link_to "Jobs", jobs_path, class: "nav-link"  %>
      </li>
    </ul>
    <span class="navbar-text mr-2">
      <% if user_signed_in? %>
        <%= link_to(destroy_user_session_path, method: :delete, class: "btn") do %>
        <i class="fas fa-sign-out-alt"></i>
        Log out
        <% end %>
      <% else %>
        <%= link_to(new_user_session_path, :class=>"btn") do %>
          <i class="fas fa-sign-in-alt"></i>
          Log In
        <% end %>
      <% end %>
    </span>
    <span class="navbar-text">
      <%= link_to "Submit", new_idea_path, data: { turbolinks: false }, class: "btn btn-danger btn-post-job good-font"%>
    </span>
  </div>
</nav>
